:root {
  --font-color-main: hsl(193, 38%, 86%);
  --font-color-secondary: hsl(150, 100%, 66%);
  --background-color-main: hsl(218, 23%, 16%);
  --background-color-secondary: hsl(217, 19%, 24%);
  --font: "Syne", sans-serif;
  --font-size-quote: 28px;
}
